.container{
  display: flex;
  margin-top: 10px;
}
.pageContent{
  flex: 4;
  background-color: #eaeeee;
}


.pageTitle{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  color: darkslategray;
}