.App {
  /* text-align: center; */
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh;
  display: flex; */
  /* flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

/* A los contenedores le vamos a aplicar display grid */
.container {
  /* Arriba | Derecha | Abajo | Izquierda */
  margin: 2px auto 10px;
  padding: 5px;
  width: 83%;
  height: 95vh; 
  background-color: #222;
  border: medium solid #000;
  border-radius: 25px;
}
.grid-explicita{
  
  display: grid;
  /* Grid de 3cx3r */
  grid-template-columns:  100px 40% 1fr;
  grid-template-rows: 6rem 20vh 30%;
  grid-gap: 10px; 
 
}
.grid-explicita2{
  
  display: grid;
  /* Grid de 3cx3r */
  /* Grid de 5cx4r */
 grid-template-columns: repeat(5, 20%); /* las 5 primeras col del mismo tamanio  */
 grid-template-rows: repeat(4, auto);  /*todas las filas se adaptan al contenido*/
 column-gap: 8px; 
 row-gap: 21px; 
 
}

/*Posicionar los elementos Busca el item 10 
Este comportamoento mueve el item */
.grid-explicita2 .col:nth-child(10){

  color: rgb(244, 255, 205) ;
  background-color: darkolivegreen;
  font-size: 2rem;
  grid-row-start:2;
  grid-row-end:3;
  grid-column-start:2;
  grid-column-end:3;
 
  grid-row: 2/3;
  /* Que ocupe mas espacio  grid-column: 3/5*/
  grid-column: 3/5;  

  /* grid-area:  grid-row-start/grid-row-end/ grid-column-start/ grid-column-end
  grid-area:2/3/3/5; /*Es un atajo a lo anterior grid-row y grid-column */
}

/* span: tambien sirve para pocicionar 
 Aqui trataremos de hacer q el elemento 12 ocupe desde donde se encuentra. 
 3 celdas en columnas 
 y en filas que ocupe dos */
.grid-explicita2 .col:nth-child(12){
 
  color: rgb(244, 255, 205) ;
  background-color: darkolivegreen;
  column-span: 3;
   grid-row: span 2; /*abarca desde donde estas, 2 filas */
   grid-column: span 3;
}


.col{
  background-color: #c62828 ;
  /* border-radius: 20px; */
  padding-left: 5px;
}
.item{
  background-color: #c62828 ;
  /* border-radius: 20px; */
  padding-left: 5px;
}

.grid-nombres{
  display: grid;

  /* grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr); */
  /* Grid de 3cx3r nombradas Hay qu enombrar linea por linea */
/* Es lo mismo que lo que esta definido arriba */
  grid-template-columns:  [linea-c1] 1fr [linea-c2] 1fr [linea-c3] 1fr [linea-c4];
  grid-template-rows:  [linea-r1] 1fr [linea-r2] 1fr [linea-r3] 1fr [linea-r4]; 
  grid-template-rows:  [linea-r1] auto [linea-r2] auto [linea-r3] auto [linea-r4]; /*para que queden todas parejas */
  grid-gap: 10px; 
}

.grid-nombres .col:nth-child(3){
  color: #61dafb;
  background-color: cornflowerblue;
  grid-row: linea-r3 / linea-r4;
  grid-column: linea-c2 / linea-c4; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
