
.userFormItem{

        width: 400px;
        margin-top: 10px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
}
.userFormItem>label{
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 600;
        color: gray;
}